h1{
    color: orangered;
    font-size: 50px;
    text-align: center;
    background-color: rgba(209, 64, 170, 0.39);
}
h2{
    color: blue;
    text-align: center;
}
body{
    background-color: rgb(9, 255, 230);
}
img{
    width: 100px;
}